.footer {
  padding: 40px 0 30px;
  background-color: #222;
}

.footer__logo {
  width: 480px;
  height: 76px;
  margin-bottom: 50px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__copyright,
.footer__list {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}

.footer__item:not(:last-child) {
  margin-bottom: 7px;
}

@media (max-width: 600px) {
  .footer__logo {
    width: 230px;
    height: 36px;
    margin-bottom: 32px;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 24px 0 20px;
  }

  .footer__logo {
    width: 230px;
    height: 36px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .footer__copyright {
    margin-bottom: 16px;
  }
}
