.footer {
  padding: 40px 0 30px;
  background-color: #222;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__copyright,
.footer__list {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.footer__item:not(:last-child) {
  margin-bottom: 7px;
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 760px) {
}

@media (max-width: 580px) {
}
